.feedback {
   
    .feedback-title {
        font-weight: 800;
        font-size: 80px;
        border-bottom: 5px solid $background-style;
        color: $color-title;
        width: 360px;
        margin-left: 553px;
    }
}
